body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

.wrapper {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
}

.imageWrapper {
  width: 50px;
  margin-right: 10px
}

img {
  max-width: 100%;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap
}

nav {
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
}

a {
  padding-right: 20px
}
p {
  padding: 10px;
}

section {
  width: 500px;
  max-width: 100%;
  margin: 30px auto;
}

.center {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.important {
  background-color: darkblue;
  color: white;
  border: none;
}

button {
  font-size: 1em;
  padding: 10px;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  cursor: pointer;
}
