.select {
    background-color: var(--main-color);
    border: none;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin: 4px 4px 4px 0px;
    padding: 8px 16px;
    height: 34px;
    font-size: 16px;
}

.select:hover {
  opacity: 0.9;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0px 0px 10px var(--main-color);
}
